@model HomeViewModel
@{
    string name = Model.AthleteName;
    List<Challenge> challenges = Model.AthleteChallenges;
    BikeTotal bikeTotal = Model.CurrentStats.YTD_Ride_Totals;
    RunTotal runTotal = Model.CurrentStats.YTD_Run_Totals;
    SwimTotal swimTotal = Model.CurrentStats.YTD_Swim_Totals;
    
}

<nav class="navbar navbar-expand-md navbar-light bg-warning">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/home">Fit Bananas</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/new">New</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signout">Sign out</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <a href="https://www.strava.com">
                    <img src="/img/api_logo_pwrdBy_strava_horiz_white.svg" height="40" class="d-inline-block align-top">
                </a>
            </div>
        </div>
    </div>
</nav>
<main class="container">
    <div class="row m-5">
        <div class="col-auto me-auto">
            <h1>@name's 2021 Challenges</h1>
        </div>
        <div class="col-auto">
            <h2>340 days, 7 hours remaining</h2>
        </div>
    </div>
    @if (challenges.Count > 0)
    {
        foreach (var challenge in challenges)
        {
            int total;
            if (challenge.ChallengeType == "Run")
            {
                total = runTotal.Elevation_Gain;
            }
            else
            {
                total = bikeTotal.Elevation_Gain;
            }
            if (challenge.ChallengeType == "Elevation Gain")
            {
                <div class="row mb-4">
                    <div class="col-md-8 card">
                        <h4>@challenge.Title</h4>
                        <p class="text-center mb-0">@total of @challenge.Goal feet</p>
                        <div class="progress mb-3">
                            @{
                                int progress = total / challenge.Goal;
                            }
                            <div class="progress-bar 
                                progress-bar-striped bg-danger" role="progressbar" style='width: @($"{progress}%")' aria-valuenow='@($"{progress}%")'
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mb-1">@(challenge.Goal - progress) feet behind schedule!</p>
                        <p class="mb-1">Average Daily Elevation Gain: 109 feet</p>
                        <p>Average Daliy Elevation Gain to completion: 44 feet</p>
                    </div>
                    <div class="col d-none d-md-block">
                        <img class="img-fluid"
                            src="https://images.squarespace-cdn.com/content/v1/589a69fb17bffcb8cef2a31b/1496506773855-KNMV1IDM2TAB1YLRWXLI/ke17ZwdGBToddI8pDm48kHNTt5bgEu88OqWJCzqcP-97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iy8Rj2bPXFyaluz0PeKicNG2FlhXETQs4oaPiPBb5OTvYpCy8pPKCrwsWHkHjc9Zw/image-asset.jpeg"
                            alt="Mount Rainier">
                    </div>
                </div>

            }

        }
    }
    else
    {
                <p class="text-center display-4 mb-3">You don't have any challenges yet!</p>
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="/new" class="btn btn-lg btn-warning">Add a Challenge</a>
            </div>
        </div>
    }
</main>