@model IndexViewModel
<link rel="stylesheet" href="~/css/indexStyle.css">

<nav class="navbar navbar-expand-md navbar-light bg-warning">
    <div class="container">
        <a class="navbar-brand" id="indexBrand" href="#">Fit Bananas</a>
    </div>
    <div class="navbar-nav">
        <a href="https://www.strava.com">
            <img src="/img/api_logo_pwrdBy_strava_horiz_white.svg" height="40" class="d-inline-block align-top">
        </a>
    </div>
</nav>
<!-- Link to OAuth page-->

<main class="container">
    <p class="display-5 text-center m-5">Log in with Strava to start a challenge!</p>
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="/strava/auth">
                <img src="/img/btn_strava_connectwith_orange.png" />
            </a>
        </div>
    </div>
    <div class="row justify-content-center mt-5 mb-3">
        <div class="col-auto">
            <h2 class="my-3 display-6">@DateTime.Now.Year Challenges</h2>

            <div>
                <p class="lead mb-1" id="timeRemaining"></p>
                <p class="lead mb-1">Participants: @Model.Participants</p>
                <p class="lead">Goals set: @Model.GoalsSet</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
            <div class="box col-lg-4 p-3 m-3">
                <p class="lead">Distance pledged: @Model.DistPledged miles</p>
                <p class="lead">Avg distance pledged: @Model.AvgDistPledged miles</p>
                <p class="lead">Distance Completed: @Model.DistanceCompleted miles</p>
            </div>
            <div class="box col-lg-4 p-3 m-3">
                <p class="lead">Elevation gained pledged: @Model.ElevGainPledged feet</p>
                <p class="lead">Avg Elevation gain pledged: @Model.AvgElevGainPledged feet</p>
                <p class="lead">Elevation Gain Completed: @Model.ElevationGainCompleted feet</p>
            </div>

    </div>
</main>
<script src="~/js/timeRemaining.js"></script>