@model IndexViewModel

<nav class="navbar navbar-expand-md navbar-light bg-warning">
    <div class="container">
        <a class="navbar-brand" href="#">Fit Bananas</a>
    </div>
    <div class="navbar-nav">
        <a href="https://www.strava.com">
            <img src="/img/api_logo_pwrdBy_strava_horiz_white.svg" height="40" class="d-inline-block align-top">
        </a>
    </div>
</nav>
<!-- Link to OAuth page-->

<main class="container">
    <p class="display-5 text-center my-5">Log in with Strava to start a challenge!</p>
    <div class="row justify-content-center">
        <div class="col-auto">
            <a href="/strava/auth">
                <img src="/img/btn_strava_connectwith_orange.png" />
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto p-5">
            <h2 class="my-3 display-6">@DateTime.Now.Year Challenges</h2>

            <div>
                <p>Participants: @Model.Participants</p>
                <p>Goals set: @Model.GoalsSet</p>
                <p id="timeRemaining"></p>
            </div>
        </div>
    </div>
    <div class="row justify-content-around">
            <div class="card col-4 p-3">
                <p>Distance pledged: @Model.DistPledged miles</p>
                <p>Avg distance pledged: @Model.AvgDistPledged miles</p>
                <p>Distance Completed: @Model.DistanceCompleted miles</p>
            </div>
            <div class="card col-4 p-3">
                <p>Elevation gained pledged: @Model.ElevGainPledged feet</p>
                <p>Avg Elevation gain pledged: @Model.AvgElevGainPledged feet</p>
                <p>Elevation Gain Completed: @Model.ElevationGainCompleted feet</p>
            </div>

    </div>
</main>
<script src="~/js/timeRemaining.js"></script>